@{
    ViewData["Title"] = "Login";
}

@{
    try
    {
        if (@ViewBag.Cadastrado)
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                Novo usuário cadastrado com sucesso!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
    }
    catch (Exception e)
    {

    }

}

<div class="container">
    <form asp-controller="Usuario" asp-action="Login" method="post">
        <body class="text-center">
            <div class="form-group">
                <div class="col-md-4 offset-md-4">
                    <img class="mb-4" src="..\ecommerce.png" alt="" width="72" height="72">
                    <h1 class="h3 mb-3 font-weight-normal">Login</h1>
                    <label for="inputEmail" class="sr-only">Endereço de email</label>
                    <input type="email" id="inputEmail" class="form-control margens" placeholder="Seu email" required autofocus name="Email">
                    <label for="inputPassword" class="sr-only">Senha</label>
                    <input type="password" id="inputPassword" class="form-control margens" placeholder="Senha" required name="Senha">
                    <div class="checkbox mb-3">
                        <label class="margens">
                            <input type="checkbox" value="remember-me"> Lembrar de mim
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                    <div class="margens">
                        @Html.ActionLink("Novo Usuário", "NovoUsuario", "Usuario")
                    </div>
                    <p class="mt-5 mb-3 text-muted">&copy; 2021-2022</p>
                </div>
            </div>
        </body>
    </form>
</div>


