@{
    ViewData["Title"] = "Login";
}

<form asp-controller="Usuario" asp-action="Login" method="post">
    <label>E-mail</label>
    <input type="text" name="Email">

    <label>Senha</label>
    <input type="password" name="Senha">

    <input type="submit" value="Enviar">
</form>