@{
    ViewData["Title"] = "Novo Produto";
}

@{
    try
    {
        if (@ViewBag.Autenticado)
        {
            <style>

                header {
                    visibility: visible;
                }

            </style>
        }
    }
    catch (Exception e)
    {

    }


    try
    {
        if (@ViewBag.Cadastrado)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                Novo produto cadastrado com sucesso!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
    }
    catch (Exception e)
    {

    }
}


<div class="container">
    <form asp-controller="Produto" asp-action="NovoProduto" method="post">
        <body class="text-center">
            <div class="form-group">
                <div class="col-md-4 offset-md-4">
                    <img class="mb-4" src="..\ecommerce.png" alt="" width="72" height="72">
                    <h1 class="h3 mb-3 font-weight-normal">Novo Produto</h1>
                    <label for="inputNomeProduto" class="sr-only">Nome do produto</label>
                    <input type="text" id="inputNomeProduto" class="form-control margens" placeholder="Nome do produto" required autofocus name="Nome">
                    <label for="inputValorProduto" class="sr-only">Valor</label>
                    <input type="text" id="inputValorProduto" class="form-control margens" placeholder="Valor do produto" required autofocus name="Valor">
                    <label for="inputDescricaoProduto" class="sr-only">Descrição</label>
                    <textarea type="text" id="inputPassword" class="form-control margens" placeholder="Descrição do produto" required name="Descricao"></textarea>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Cadastrar</button>
                    <p class="mt-5 mb-3 text-muted">&copy; 2021-2022</p>
                </div>
            </div>
        </body>
    </form>
</div>